<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-12 text-md-center text-center">
      <p class="caption">
        Salles des marchés Carmand-Normand et Jean-Turmel &copy; <script> document.write(new Date().getFullYear()); </script>
      </p>
      <a href='http://creativecommons.org/licenses/by-sa/4.0/' style="color:#000000;font-weight:regular;" target="_blank" title='Licence: CC-BY-SA'>
        Licence: CC-BY-SA<br>
        <i class='fab fa-creative-commons fa-lg'></i>
        <i class='fab fa-creative-commons-by fa-lg'></i>
        <i class='fab fa-creative-commons-sa fa-lg'></i>
      </a>
    </div>
  </div>
  </div>
</footer>
